<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }
    
    .ant-col-sm-24 {
        margin-top: 10px;
    }
    
    .ant-tabs-bar {
        margin: 0;
    }
    
    .ant-list-item {
        display: block;
    }
    
    .ant-tabs-top-bar {
        background: white;
    }
</style>

<body>
    <a-layout id="app" v-cloak>
        {{ template "commonSider" . }}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                    <a-space direction="vertical">
                        <a-space direction="horizontal">
                            <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Storage arrangement</a-button>
                            <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Restart panel</a-button>
                        </a-space>
                        <a-tabs default-active-key="1">
                            <a-tab-pane key="1" tab="Panel configuration">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="text" title="Panel listening to IP" desc="Default removal of blank supervision all IP, restart panel take effect" v-model="allSetting.webListen"></setting-list-item>
                                    <setting-list-item type="number" title="Panel listener port" desc="Restart panel takes effect" v-model.number="allSetting.webPort"></setting-list-item>
                                    <setting-list-item type="text" title="Panel certificate public key file path" desc="Fill in the absolute path of '/' starting, restart the panel to take effect" v-model="allSetting.webCertFile"></setting-list-item>
                                    <setting-list-item type="text" title="Panel Certificate Key File Path" desc="Fill in the absolute path of '/' starting, restart the panel to take effect" v-model="allSetting.webKeyFile"></setting-list-item>
                                    <setting-list-item type="text" title="Panel URL root path" desc="Must start with '/', with '/' ending, restart the panel to take effect" v-model="allSetting.webBasePath"></setting-list-item>
                                </a-list>
                            </a-tab-pane>
                            <a-tab-pane key="2" tab="user settings">
                                <a-form style="background: white; padding: 20px">
                                    <a-form-item label="original user name">
                                        <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="old password">
                                        <a-input type="password" v-model="user.oldPassword" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="new user name">
                                        <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="new password">
                                        <a-input type="password" v-model="user.newPassword" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item>
                                        <a-button type="primary" @click="updateUser">Revise</a-button>
                                    </a-form-item>
                                </a-form>
                            </a-tab-pane>
                            <a-tab-pane key="3" tab="XRay related settings">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="textarea" title="XRAY Configuration Template" desc="Generate the final XRAY profile based on this template, restart the panel to take effect" v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                                </a-list>
                            </a-tab-pane>
                            <a-tab-pane key="4" tab="other settings">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="text" title="Time zone" desc="Timing tasks run according to the time of the time zone, restart the panel take effect" v-model="allSetting.timeLocation"></setting-list-item>
                                </a-list>
                            </a-tab-pane>
                        </a-tabs>
                    </a-space>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>
    {{template "js" .}} {{template "component/setting"}}
    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                siderDrawer,
                spinning: false,
                oldAllSetting: new AllSetting(),
                allSetting: new AllSetting(),
                saveBtnDisable: true,
                user: {},
            },
            methods: {
                loading(spinning = true) {
                    this.spinning = spinning;
                },
                async getAllSetting() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/all");
                    this.loading(false);
                    if (msg.success) {
                        this.oldAllSetting = new AllSetting(msg.obj);
                        this.allSetting = new AllSetting(msg.obj);
                        this.saveBtnDisable = true;
                    }
                },
                async updateAllSetting() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                    this.loading(false);
                    if (msg.success) {
                        await this.getAllSetting();
                    }
                },
                async updateUser() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                    this.loading(false);
                    if (msg.success) {
                        this.user = {};
                    }
                },
                async restartPanel() {
                    await new Promise(resolve => {
                        this.$confirm({
                            title: 'Restart panel',
                            content: 'Do you determine if you want to restart the panel?Click OK will restart after 3 seconds, if you cannot access the panel after restart, go to the server to view the panel log information.',
                            okText: 'Sure',
                            cancelText: 'Cancel',
                            onOk: () => resolve(),
                        });
                    });
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/restartPanel");
                    this.loading(false);
                    if (msg.success) {
                        this.loading(true);
                        await PromiseUtil.sleep(5000);
                        location.reload();
                    }
                }
            },
            async mounted() {
                await this.getAllSetting();
                while (true) {
                    await PromiseUtil.sleep(1000);
                    this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
                }
            },
        });
    </script>
</body>

</html>